html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}


body{
    margin:0;
    padding:0;
    line-height: 1.5rem;
    font-size: $text-xl;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

a, a:visited, a:hover{
    text-decoration: none;
}

.active{
    color:$primary-500 !important;
}

//Texts

p{
    margin:0;
    line-height: 1.5rem;
    color: $gray-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.4;
  color: $gray-900;
  margin:0;
}

h1{
    font-size: 2.25rem;
    letter-spacing: -2px;

    @include breakpoint-up(large){
        font-size: 3.75rem;
        font-weight: 700;
        line-height: 1.2;
    }
}

h3{
    font-size: 1.875rem;
    letter-spacing: 0px;

    @include breakpoint-up(large){
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.2;
    }
}

h5{
    font-size: 1.5rem;
    line-height:  2rem;
    @include breakpoint-up(large){
        font-size: 1.875rem;
        line-height:  2.375rem;
    }
}

h6{
    font-size: 20px;
    line-height: 30px;
}


.section{
    padding-top: 4rem;
    padding-right: 0px;
    padding-bottom: 4rem;
    padding-left:0px;

    @include breakpoint-up(large){
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.container{
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-left:1rem;
    max-width : 23.44rem;
    margin:0px auto;

    @include breakpoint-up(large){
        padding-right: 2rem;
        padding-left: 2rem;
        max-width : 80rem;
    }
}


//flexbox styles

.flex{
    display: flex;
    &-jc-sb{
        justify-content: space-between;
    }

    &-ai-c{
        align-items: center;
    }

    &-fd-c{
        flex-direction: column;
    }
    &-fd-r{
        flex-direction: row;
    }
    &-fd-rr{
        flex-direction: row-reverse;
    }
}

//text align center
.text-center{
    text-align: center;
}

//buttons

.btn-primary, .btn-secondary{
    padding:0.75rem 1.75rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: $primary-400;
    font-size: $text-md;
    color: $white;
    border: 1px solid $primary-400;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5rem;

    @include breakpoint-up(large){
        font-size: $text-lg;
        font-weight: 500;
    }

    &:hover{
        background-color: $primary-300;
        border: 1px solid $primary-300;
        transition: color 200ms ease-in-out;
    }
}

.btn-secondary{
    color: $white;
    background-color: $primary-300;
    border: 1px solid $primary-25;

    &:hover{
        color: $primary-500;
        background-color: $white;
        border: 1px solid $primary-25;
        transition: color 200ms ease-in-out;
    }
}


//input

.input{
    padding: 10px 14px;
    width: 100%;
    border-radius: 8px;
    border:1px solid $gray-300;
    height: 44px;
    font-size: 16px;
    line-break: 24px;
    color: $gray-900;
}

textarea{
    border-radius: 8px;
    font-size: 16px;
    line-break: 24px;
    color: $gray-900;
    padding: 10px 14px;
    border:1px solid $gray-300;
    width: 100%;
}

label{
    color: $gray-700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
      display: none;
    }
  }
  
  .hide-for-desktop {
    @include breakpoint-up(large) {
      display: none;
    }
  }