.header{

    padding: 1rem 0;

    @include breakpoint-up(large){
        padding: 1.25rem 0;
    }

    > nav{
        padding-top: 0;
        padding-right: 0.75rem;
        padding-left: 1rem;
        padding-bottom: 0;
        max-width : 21.44rem;
        margin:0 auto;

        @include breakpoint-up(large){
            max-width : 80rem;
        }
    }

    &__menu{//mobile menu
        > span {
            display: block;
            width: 18px;
            height: 2px;
            background-color: $gray-900;
            transition: all 300ms ease-in-out;
            transform-origin: left center;

            &:not(:last-child){
                margin-bottom: 4px;
            }
        }

        &.open{

            > span:first-child{
                transform: rotate(45deg);
            }

            > span:nth-child(2){
                opacity: 0;
            }

            >span:last-child{
                transform: rotate(-45deg);
            }
        }
    }


    &__links{

        @include breakpoint-down(small){
            background-color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        a{
            color: $gray-500;
            font-size: $text-md;
            font-weight: 400;
            letter-spacing: 0px;
            line-height: 24px;

            &:not(:last-child){
                margin-right: 32px;
                @include breakpoint-down(small){margin-right: 0px;}
            }

            &:hover{
                color:$primary-500;
                transition: color 200ms ease-in-out;
            }
        }
    }
}

.background{

    @include breakpoint-down(small){
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 53px;
        background: rgba(16, 24, 40, 0.6);
        left: 0px;
        z-index: 1;
        overflow: hidden;
        padding:20px;
    }
}

