.hero{

    position: relative;

    @include breakpoint-up(large){
        padding-bottom: 0px;
    }

    &__content{
        flex-direction: column;
        gap: 4rem;
        @include breakpoint-up(large){
            gap: 6rem;
        }
    }

    &__text{
        
        align-items: center;
        text-align: center;

        p{
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 1.88rem;
            color: $gray-500;
            margin-top: 1rem;

            @include breakpoint-up(large){
                width: 45.64rem;
                margin:0px auto;
                margin-top: 24px;
            }
        }

        a{
            display: inline-block;
            margin-top: 2rem;

            @include breakpoint-up(large){
                display: none;
            }
        }

        h1{
            @include breakpoint-up(large){
                width: 53.75rem;
                margin:0px auto;
            }

            > span{
                color: $primary-400;
            }
        }

    }

    &__blur{
        position: absolute;
        top: 0;
        left: 0;
    }

    &__vector{
        position: absolute;
        top: 9.31rem;
        left: 72.64rem;
    }
}